{% extends 'LthrtContactBundle:Person:person.html.twig' %}

{% block body -%}
    <h1>Person Create</h1>
    {% include 'LthrtContactBundle:Person:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
