{% extends 'LthrtContactBundle:AddressType:addresstype.html.twig' %}

{% block body -%}
    <h1>AddressType Edit</h1>
    {% include 'LthrtContactBundle:AddressType:form.html.twig' %}
    <ul class="record_actions">
    <li>
        <a href="{{ path('addresstype') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body %}
