{% extends 'LthrtContactBundle:AddressType:addresstype.html.twig' %}

{% block contentbody -%}
    <h1>AddressType Create</h1>
    {% include 'LthrtContactBundle:AddressType:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('addresstype_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock contentbody %}
