{% extends 'LthrtTemplateBundle::dashboard.html.twig' %}
{% block sideMenu %}
    {% include 'LthrtContactBundle:Sidebar:dashboard.html.twig' %}
{% endblock sideMenu %}
{% block widget1 %}
    {% include 'LthrtContactBundle:Dashboard:raceDemographic.html.twig' %}
{% endblock widget1 %}
{% block widget2 %}
    {% include 'LthrtContactBundle:Dashboard:genderDemographic.html.twig' %}
{% endblock widget2 %}
{% block widget3 %}
    {% include 'LthrtContactBundle:Dashboard:ethnicityDemographic.html.twig' %}
{% endblock widget3 %}
{% block widget4 %}
{% endblock widget4 %}
{% block content %}
    <div class="col-xs-12">
    <h2>Issues</h2>
    <ul>
        <li>Fix font overlap on pie chart</li>
        <li>Fix font to be consistent for chart types</li>
        <li>2 new Chart types</li>
        <li>Maybe some borders?</li>
    </ul>
</div>
{% endblock content %}
{%- block js -%}
    {{- parent() -}}
    {% include 'LthrtContactBundle:Widget:d3Js.html.twig' %}
    {% include 'LthrtContactBundle:Widget:demographicBarJs.html.twig' %}
    {% include 'LthrtContactBundle:Widget:demographicPieJs.html.twig' %}
{%- endblock js -%}
