{% extends 'LthrtContactBundle:Address:address.html.twig' %}

{% block body -%}
    <h1>Address Edit</h1>
    {% include 'LthrtContactBundle:Address:form.html.twig' with { 'submitLabel' : 'Update' } %}
    <ul class="record_actions">
    <li>
        <a href="{{ path('address') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body %}
