{% extends 'LthrtContactBundle:Address:address.html.twig' %}

{% block contentbody -%}
    <h1>Address Create</h1>
    {% include 'LthrtContactBundle:Address:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('address_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock contentbody %}
