{% extends 'LthrtContactBundle:Address:address.html.twig' %}

{% block body -%}
    <h1>Address Create</h1>
    {% include 'LthrtContactBundle:Address:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('address') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
