{% extends 'LthrtContactBundle:State:state.html.twig' %}

{% block body -%}
    <h1>State Create</h1>
    {% include 'LthrtContactBundle:State:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('state') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
