{% extends 'LthrtContactBundle:Contact:contact.html.twig' %}

{% block body -%}
    <h1>Contact Create</h1>
    {% include 'LthrtContactBundle:Contact:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('contact') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
