{% extends 'LthrtContactBundle:Contact:contact.html.twig' %}

{% block contentbody -%}
    <h1>Contact Create</h1>
    {% include 'LthrtContactBundle:Contact:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('contact_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock contentbody %}
