{% extends 'LthrtContactBundle:Demographic:demographic.html.twig' %}

{% block body -%}
    <h1>Demographic Create</h1>
    {% include 'LthrtContactBundle:Demographic:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('demographic') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
