{% extends 'LthrtContactBundle:Demographic:demographic.html.twig' %}

{% block body -%}
    <h1>Demographic Create</h1>
    {% include 'LthrtContactBundle:Demographic:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('demographic_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
