{% extends 'LthrtContactBundle:Zip:zip.html.twig' %}

{% block body -%}
    <h1>Zip Create</h1>
    {% include 'LthrtContactBundle:Zip:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('zip') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
