{% extends 'LthrtContactBundle:DemographicType:demographictype.html.twig' %}

{% block contentbody -%}
    <h1>Create DemographicType</h1>
    {% include 'LthrtContactBundle:DemographicType:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('demographictype_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock contentbody %}
