{% extends 'LthrtContactBundle:DemographicType:demographictype.html.twig' %}

{% block body -%}
    <h1>DemographicType Create</h1>
    {% include 'LthrtContactBundle:DemographicType:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('demographictype') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
