{% extends 'LthrtContactBundle:City:city.html.twig' %}

{% block body -%}
    <h1>City Create</h1>
    {% include 'LthrtContactBundle:City:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('city') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
