{% extends 'LthrtContactBundle:ContactType:contacttype.html.twig' %}

{% block body -%}
    <h1>ContactType Create</h1>
    {% include 'LthrtContactBundle:ContactType:form.html.twig' %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('contacttype') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
