{% extends 'LthrtContactBundle:ContactType:contacttype.html.twig' %}

{% block body -%}
    <h1>ContactType Create</h1>
    {% include 'LthrtContactBundle:ContactType:form.html.twig' with { 'submitLabel' : 'Create' } %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('contacttype_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock body %}
